.friends .friends__plus {
   padding: 16px 0px;
   border-top: #f7f7f7 1px solid;
   border-bottom: #f7f7f7 1px solid;
   margin: 16px 0px;
}

.friends__plus .friends__title {
   font-size: 14px;
   opacity: 0.6;
   margin-bottom: 14px;
}

.friends__list .friends__title {
   font-size: 14px;
   opacity: 0.6;
   margin-bottom: 14px;
}
