.nav {
   position: fixed;
   width: 100%;
   padding: 20px 50px;
   background-color: #fcfcfc;
   bottom: 0px;
   left: 0px;
   border-top: #f7f7f7 1px solid;
}

.nav .nav__list {
   display: flex;
   justify-content: space-between;
}

.nav .nav__list-item {
   font-size: 22px;
}

.nav .nav__list-link {
   position: relative;
}

.nav .nav__badge {
   position: absolute;
   top: -6px;
   right: -7px;
   color: white;
   background-color: #e65f3e;
   width: 16px;
   height: 16px;
   font-size: 13px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}
